In [1]:
import pandas as pd

In [202]:
"""
Yuseok preprocess
"""
yuseok_df1 = pd.read_csv("testing_model/yuseok/Project7_Age.csv")
yuseok_df2 = pd.read_csv("testing_model/yuseok/Project7_Gender.csv")
yuseok_df3 = pd.read_csv("testing_model/yuseok/Project7_Mask.csv")

yuseok_df1 = yuseok_df1.rename(columns={"<30":"age_0", "<60":"age_1", ">=60":"age_2"})
yuseok_df2 = yuseok_df2.rename(columns={"male":"gender_0", "female":"gender_1"})
yuseok_df3 = yuseok_df3.rename(columns={"mask":"mask_0", "incorrect":"mask_1", "normal":"mask_2"})

yuseok_df = pd.merge(yuseok_df3, yuseok_df2, on='ImageID')
yuseok_df = pd.merge(yuseok_df, yuseok_df1, on="ImageID")
mask_argmax = yuseok_df[["mask_0", "mask_1", "mask_2"]].idxmax(axis=1)
mask_argmax, _ = pd.factorize(mask_argmax, sort=True)

gender_argmax = yuseok_df[["gender_0", "gender_1"]].idxmax(axis=1)
gender_argmax, _ = pd.factorize(gender_argmax, sort=True)

age_argmax = yuseok_df[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)

yuseok_df["mask"] = mask_argmax
yuseok_df["gender"] = gender_argmax
yuseok_df["age"] = age_argmax
yuseok_df["ans"] = yuseok_df["mask"]*6 + yuseok_df["gender"]*3 + yuseok_df["age"]

In [203]:
"""
Common preprocess
"""
yang_df = pd.read_csv("testing_model/resnet34_kyeonghoon.csv")
yang_df = yang_df.drop("Unnamed: 0", axis=1)
yang_df = yang_df.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = yang_df[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
yang_df["age"] = age_argmax

dohwan_df = pd.read_csv("testing_model/age_Ensemble_vit_early_loss_dohwan.csv")
dohwan_df = dohwan_df.drop("Unnamed: 0", axis=1)
dohwan_df = dohwan_df.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = dohwan_df[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
dohwan_df["age"] = age_argmax

geunuk_df1 = pd.read_csv("testing_model/ensemble_convnext_base_geunuk.csv")
geunuk_df1 = geunuk_df1.drop("Unnamed: 0", axis=1)
geunuk_df1 = geunuk_df1.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = geunuk_df1[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
geunuk_df1["age"] = age_argmax

geunuk_df2 = pd.read_csv("testing_model/ensemble_resnet34_geunuk.csv")
geunuk_df2 = geunuk_df2.drop("Unnamed: 0", axis=1)
geunuk_df2 = geunuk_df2.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = geunuk_df2[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
geunuk_df2["age"] = age_argmax

geunuk_df3 = pd.read_csv("testing_model/ensemble_swin_small_patch4_window7_224_geunuk.csv")
geunuk_df3 = geunuk_df3.drop("Unnamed: 0", axis=1)
geunuk_df3 = geunuk_df3.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = geunuk_df3[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
geunuk_df3["age"] = age_argmax

geunuk_df4 = pd.read_csv("testing_model/ensemble_vit_base_patch8_224_geunuk.csv")
geunuk_df4 = geunuk_df4.drop("Unnamed: 0", axis=1)
geunuk_df4 = geunuk_df4.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = geunuk_df4[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
geunuk_df4["age"] = age_argmax

dohwan_df2 = pd.read_csv("testing_model/Ensemble_age_vit_early_f1_dohwan.csv")
dohwan_df2 = dohwan_df2.drop("Unnamed: 0", axis=1)
dohwan_df2 = dohwan_df2.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = dohwan_df2[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
dohwan_df2["age"] = age_argmax

dohwan_df3 = pd.read_csv("testing_model/age_Ensemble_60_3_dohwan.csv")
dohwan_df3 = dohwan_df3.drop("Unnamed: 0", axis=1)
dohwan_df3 = dohwan_df3.rename(columns={"Under 30":"age_0", "30 to 60":"age_1", "Over 60":"age_2"})
age_argmax = dohwan_df3[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)
dohwan_df3["age"] = age_argmax

In [207]:
"""
Jongmok preprocess
"""
df = pd.read_csv("submits/resnet34_CrossEntropy_Project47.csv")

mask_argmax = df[["mask_0", "mask_1", "mask_2"]].idxmax(axis=1)
mask_argmax, _ = pd.factorize(mask_argmax, sort=True)

gender_argmax = df[["gender_0", "gender_1"]].idxmax(axis=1)
gender_argmax, _ = pd.factorize(gender_argmax, sort=True)

age_argmax = df[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)

df["mask"] = mask_argmax
df["gender"] = gender_argmax
df["age"] = age_argmax
df["ans"] = df["mask"]*6 + df["gender"]*3 + df["age"]

In [208]:
print("Mask 일치율 : ", (yuseok_df["mask"] == df["mask"]).sum() / 12600)
print("Gender 일치율 : ", (yuseok_df["gender"] == df["gender"]).sum() / 12600)
print("Age 일치율 : ", (yuseok_df["age"] == df["age"]).sum() / 12600)

Mask 일치율 :  0.9957142857142857
Gender 일치율 :  0.983015873015873
Age 일치율 :  0.8866666666666667

In [209]:
print("Age 일치율 : ", (df["age"] == yang_df["age"]).sum() / 12600)
print("Age 일치율 : ", (df["age"] == dohwan_df["age"]).sum() / 12600)
print("Age 일치율 : ", (df["age"] == yuseok_df["age"]).sum() / 12600)
print("Age 일치율 : ", (df["age"] == geunuk_df1["age"]).sum() / 12600)
print("Age 일치율 : ", (df["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (df["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (df["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.49317460317460315
Age 일치율 :  0.8511904761904762
Age 일치율 :  0.8866666666666667
Age 일치율 :  0.8392063492063492
Age 일치율 :  0.8165079365079365
Age 일치율 :  0.8184920634920635
Age 일치율 :  0.8648412698412699

In [210]:
print("Age 일치율 : ", (yang_df["age"] == dohwan_df["age"]).sum() / 12600)
print("Age 일치율 : ", (yang_df["age"] == yuseok_df["age"]).sum() / 12600)
print("Age 일치율 : ", (yang_df["age"] == geunuk_df1["age"]).sum() / 12600)
print("Age 일치율 : ", (yang_df["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (yang_df["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (yang_df["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.5021428571428571
Age 일치율 :  0.48373015873015873
Age 일치율 :  0.4819047619047619
Age 일치율 :  0.4976984126984127
Age 일치율 :  0.47285714285714286
Age 일치율 :  0.49396825396825395

In [211]:
print("Age 일치율 : ", (dohwan_df["age"] == yuseok_df["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df["age"] == geunuk_df1["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.8194444444444444
Age 일치율 :  0.8215079365079365
Age 일치율 :  0.7728571428571429
Age 일치율 :  0.8038095238095239
Age 일치율 :  0.8615079365079366

In [212]:
print("Age 일치율 : ", (yuseok_df["age"] == geunuk_df1["age"]).sum() / 12600)
print("Age 일치율 : ", (yuseok_df["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (yuseok_df["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (yuseok_df["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.8770634920634921
Age 일치율 :  0.8493650793650793
Age 일치율 :  0.8003174603174603
Age 일치율 :  0.8242063492063492

In [213]:
print("Age 일치율 : ", (geunuk_df1["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df1["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df1["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.8428571428571429
Age 일치율 :  0.8202380952380952
Age 일치율 :  0.8262698412698413

In [214]:
print("Age 일치율 : ", (geunuk_df2["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df2["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.7782539682539683
Age 일치율 :  0.7915873015873016

In [215]:
print("Age 일치율 : ", (geunuk_df3["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.837936507936508

In [216]:
print("Age 일치율 : ", (dohwan_df2["age"] == df["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df2["age"] == dohwan_df["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df2["age"] == yuseok_df["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df2["age"] == geunuk_df1["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df2["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df2["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df2["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.8473015873015873
Age 일치율 :  0.98
Age 일치율 :  0.8218253968253968
Age 일치율 :  0.827936507936508
Age 일치율 :  0.7762698412698412
Age 일치율 :  0.8051587301587302
Age 일치율 :  0.8570634920634921

In [217]:
print("Age 일치율 : ", (dohwan_df3["age"] == df["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df3["age"] == dohwan_df["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df3["age"] == yuseok_df["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df3["age"] == geunuk_df1["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df3["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df3["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (dohwan_df3["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.881984126984127
Age 일치율 :  0.8383333333333334
Age 일치율 :  0.8530952380952381
Age 일치율 :  0.8200793650793651
Age 일치율 :  0.819047619047619
Age 일치율 :  0.7985714285714286
Age 일치율 :  0.847936507936508

In [287]:
print("Age 일치율 : ", (geunuk_df5["age"] == df["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df5["age"] == dohwan_df["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df5["age"] == yuseok_df["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df5["age"] == geunuk_df1["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df5["age"] == geunuk_df2["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df5["age"] == geunuk_df3["age"]).sum() / 12600)
print("Age 일치율 : ", (geunuk_df5["age"] == geunuk_df4["age"]).sum() / 12600)

Age 일치율 :  0.8648412698412699
Age 일치율 :  0.8615079365079366
Age 일치율 :  0.8242063492063492
Age 일치율 :  0.8262698412698413
Age 일치율 :  0.7915873015873016
Age 일치율 :  0.837936507936508
Age 일치율 :  1.0

In [218]:
print("Age 일치율 : ", (dohwan_df2["age"] == dohwan_df3["age"]).sum() / 12600)

Age 일치율 :  0.8332539682539682

In [219]:
# yuseok_df, dohwan_df, geunuk_df1, geunuk_df2, geunuk_df3, geunuk_df4, df

In [220]:
yuseok_df.head(3)

,ImageID,mask_0,mask_1,mask_2,gender_0,gender_1,age_0,age_1,age_2,mask,gender,age,ans
0,cbc5c6e168e63498590db46022617123f1fe1268.jpg,0.000086,0.000109,0.999804,0.998760,0.001240,0.012262,0.728661,0.259076,2,0,1,13
1,0e72482bf56b3581c081f7da2a6180b8792c7089.jpg,0.988631,0.008803,0.002565,0.963168,0.036832,0.014309,0.453814,0.531877,0,0,2,2
2,b549040c49190cedc41327748aeb197c1670f14d.jpg,0.013895,0.029172,0.956932,0.993237,0.006763,0.014983,0.852906,0.132112,2,0,1,13

In [221]:
df.head(3)

,ImageID,ans,mask_0,mask_1,mask_2,gender_0,gender_1,age_0,age_1,age_2,mask,gender,age
0,cbc5c6e168e63498590db46022617123f1fe1268.jpg,13,0.000005,0.000018,0.999977,0.999285,0.000715,0.001218,0.913335,0.085447,2,0,1
1,0e72482bf56b3581c081f7da2a6180b8792c7089.jpg,1,0.993460,0.006322,0.000218,0.967962,0.032038,0.002301,0.956383,0.041316,0,0,1
2,b549040c49190cedc41327748aeb197c1670f14d.jpg,13,0.014875,0.008732,0.976393,0.995018,0.004982,0.001980,0.942880,0.055140,2,0,1

In [272]:
all_df = pd.DataFrame()

In [273]:
all_df["ImageID"] = df["ImageID"]

In [274]:
all_df[["mask_0", "mask_1", "mask_2"]] = df[["mask_0", "mask_1", "mask_2"]] + yuseok_df[["mask_0", "mask_1", "mask_2"]]
all_df[["gender_0", "gender_1"]] = df[["gender_0", "gender_1"]] + yuseok_df[["gender_0", "gender_1"]]
all_df[["age_0", "age_1", "age_2"]] = df[["age_0", "age_1", "age_2"]] + yuseok_df[["age_0", "age_1", "age_2"]]

In [275]:
for df_tosum in [geunuk_df1, geunuk_df2, geunuk_df3, geunuk_df4, geunuk_df5]:
    all_df[["age_0", "age_1", "age_2"]] = all_df[["age_0", "age_1", "age_2"]] + df_tosum[["age_0", "age_1", "age_2"]]

In [276]:
mask_argmax = all_df[["mask_0", "mask_1", "mask_2"]].idxmax(axis=1)
mask_argmax, _ = pd.factorize(mask_argmax, sort=True)

gender_argmax = all_df[["gender_0", "gender_1"]].idxmax(axis=1)
gender_argmax, _ = pd.factorize(gender_argmax, sort=True)

age_argmax = all_df[["age_0", "age_1", "age_2"]].idxmax(axis=1)
age_argmax, _ = pd.factorize(age_argmax, sort=True)

all_df["mask"] = mask_argmax
all_df["gender"] = gender_argmax
all_df["age"] = age_argmax
all_df["ans"] = all_df["mask"]*6 + all_df["gender"]*3 + all_df["age"]

In [277]:
all_df

,ImageID,mask_0,mask_1,mask_2,gender_0,gender_1,age_0,age_1,age_2,mask,gender,age,ans
0,cbc5c6e168e63498590db46022617123f1fe1268.jpg,0.000091,0.000127,1.999782,1.998044,0.001956,0.250848,5.446253,1.302899,2,0,1,13
1,0e72482bf56b3581c081f7da2a6180b8792c7089.jpg,1.982091,0.015125,0.002784,1.931131,0.068869,0.258239,3.414293,3.327468,0,0,1,1
2,b549040c49190cedc41327748aeb197c1670f14d.jpg,0.028770,0.037904,1.933326,1.988255,0.011745,0.247382,4.898797,1.853821,2,0,1,13
3,4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg,0.000018,0.000213,1.999769,1.995225,0.004775,0.348515,4.155760,2.495725,2,0,1,13
4,248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg,0.000095,0.000612,1.999293,1.997045,0.002955,6.418440,0.360528,0.221031,2,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12595,d71d4570505d6af8f777690e63edfa8d85ea4476.jpg,1.998231,0.000691,0.001078,1.999866,0.000134,0.255618,2.887862,3.856520,0,0,2,2
12596,6cf1300e8e218716728d5820c0bab553306c2cfd.jpg,1.994458,0.002983,0.002559,0.002928,1.997072,0.487487,3.715104,2.797408,0,1,1,4
12597,8140edbba31c3a824e817e6d5fb95343199e2387.jpg,0.000252,1.999319,0.000429,0.000976,1.999024,5.712963,1.063422,0.223616,1,1,0,9
12598,030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg,1.998662,0.000985,0.000353,1.591379,0.408621,1.350981,5.344177,0.304842,0,0,1,1
12599,f1e0b9594ae9f72571f0a9dc67406ad41f2edab0.jpg,0.000030,1.999843,0.000127,1.999537,0.000463,0.238830,4.651733,2.109438,1,0,1,7

In [278]:
to_compare = pd.read_csv("submits/ensemble2.csv")

In [279]:
(to_compare["ans"] == all_df["ans"]).sum()

12489

In [263]:
import os

In [264]:
all_df[["ImageID", "ans"]].to_csv(os.path.join("submits", 'ensemble6.csv'), index=False)